*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    padding: 0;
}
/* Estilos personalizados para las tarjetas */
.custom-card {
    width: 10rem; /* Personaliza el ancho según tus preferencias */
    margin: 0.5rem; /* Personaliza el margen según tus preferencias */
  }
  
  .custom-card-img {
    max-height: 150px; /* Personaliza la altura máxima de la imagen */
  }